*{
  margin: 0px;
  padding: 0px;
  font-family:'Poppins', sans-serif;;
}
.first-div{
  padding: 2% 6%;
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}
.logo h1 span{
  color: red;
  font-size: 35px;
}
.menu ul li{
  display: inline-block;
  padding: 8px 12px;
}
.menu ul li a{
  text-decoration: none;
  color: red;
}
/****menu part end***/
.text-img{
  padding: 0 6%;
  display: flex;
}
.text-aria{
  margin-top: 100px;
  margin-right: 80px;
}
.text-aria h2{
  margin-right: 50px;
  font-size: 40px;
  color: rgb(56, 54, 54);
}
.text-aria h2 span{
  color: red;
  font-size: 50px;
}
.text-aria p{
  font-size: 10px;
  margin-top: 20px;
  margin-right: 100px;
  font-weight: 300;
  text-decoration: none;
  color: rgb(61, 53, 53);
  margin-bottom: 40px;
}
.img-aria img{
  height: 500px;
}
.text-aria .btn{
  color: white;
  border-radius: 20px;
  padding: 4px 20px;
  background-image: linear-gradient(red,rgb(221, 20, 120));
  text-decoration: none;
}
/******first-section end******/

/******about-section strat******/
.about-section{
  height: 500px;
  width: 100%;
  background-image: url(img/7.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
  .about-text-img{
    display: flex;
    padding: 2% 6%;
  }
  .about-img img{
    margin-top: 40px;
    margin-left: 100px;
    height: 430px;
    width: 280px;
  }
  .about-text{
    margin-top: 100px;
    margin-left: 220px;
    margin-right: 20px;
  }
  .about-text h3{
    font-size: 30px;
    color: red;
    margin-bottom: 30px;
  }
  .about-text p{
    font-size: 20px;
    color: rgb(65, 59, 59);
    margin-bottom: 40px;
  }
  .about-btn{
    color: white;
    border-radius: 20px;
    padding: 4px 20px;
    background-image: linear-gradient(red,rgb(221, 20, 120));
    text-decoration: none;
  }
/******about-section end******/

/******My-recipies-section strat******/
  .My-recipies-text{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
  }
  .My-recipies-text h4{
    color: rgb(56, 54, 54);
    font-size: 40px;
    margin-bottom: 20px;
  }
  .My-recipies-text p{
    color: rgb(105, 99, 99);
    margin-bottom: 30px;
  }
  .box-aria{
    display: flex;
  }
  .box-aria .box-1{
    padding: 2% 2%;
    margin: 4%;
    border-radius: 20px;
    box-shadow: 10px 10px 40px black;
  }
  .box-aria .box-1 img{
    height: 50%;
    width: 100%;
  }
  .box-aria .box-1 h5{
    margin: 2%;
    font-size: 30px;
    line-height: 70px;
    color: rgb(66, 62, 62);
  }
  .box-aria .box-1 p{
    font-size: 14px;
    color: rgb(107, 100, 100);
    margin-bottom: 10px;
  }
/******My-recipies-section end******/
/******Extra-section strat******/
.extra-aria{
  width: 80%;
  display: flex;
  margin: auto;
  text-align: center;
  padding: 20px;
  box-shadow: 10px 10px 50px;
  margin-top: 100px;
  border-radius: 15px;
}
.extra-aria .num-1{
  padding: 8px 100px;
}
.extra-aria .num-1 h6{
  font-size: 50px;
  color: rgb(41, 37, 37);
}
.extra-aria .num-1 p{
  font-size: 14px;
  color: rgb(95, 90, 90);
}
/******Extra-section end******/
/******footer-section strat******/
footer{
  height: 200px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  margin-top: 100px;
}
.footer-text{
  padding: 60px;
  text-align: center;
  justify-content: center;
}
footer .footer-text h6{
  font-size: 30px;
  color: white;
}
.footer-text h6 span{
  color: red;
}
footer .footer-text p{
  padding-top: 10px;
  color: rgb(127, 139, 150);
}
/******footer-section end******/

